.top5 {
    color: white;
    text-align: center;
}

#top5KeyWordsAndHashtages {
    border: 2px double white;
    background: rgba(128, 128, 128, 0.5);
    padding: 21px;
    margin-bottom: 10px;
    max-width: fit-content;
}

#PostsUploadedByMonth {
    /*border: 2px solid #c79e28;*/
    margin: 20px 0 20px 0;
}

#percentageOfPostsRemoved {
    margin-bottom: 10px;
}