.top5 {
    color: white;
    text-align: center;
}

#top5KeyWordsAndHashtages, #PostsCountLast7Days {
    border: 2px double white;
    background: rgba(128, 128, 128, 0.5);
    padding: 21px;
    margin-bottom: 10px;
    max-width: fit-content;
    max-width: 25%;
}

#PostsUploadedByMonth, #PostsPerPlatfom {
    margin: 20px 0 20px 0;
}

#percentageOfPostsRemoved {
    margin-bottom: 10px;
}

#biHeader h4{
    color: white;
}

#biHeader {
    padding-bottom: 23px;
}