#PasswordDiv {
    position: relative;
}

    #PasswordDiv input[type="password"],
    #PasswordDiv input[type="text"] {
        width: 100%;
        padding: 12px 36px 12px 12px;
        box-sizing: border-box;
    }

.bi {
    position: absolute;
    top: 52%;
    right: 95%;
    cursor: pointer;
    color: #beb4b4;
}

.editBtn {
    color: white;
    margin-top: -51px;
    font-size: 22px;
    text-shadow: 0px 0px 1px #997800;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    padding-left: 10px;
}

    .editBtn:hover {
        color: #ffc800;
    }


#contactForm {
    direction: rtl;
}

.littleHeadline {
    color: white;
    font-style: italic;
    font-size: 16px;
}